body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;    
}

nav ul {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background: black;
    color: white;
    text-align: center;
    list-style: none;
}

li {
    line-height: 1.5;
}

nav a {
    color: #ccc;
    text-decoration: none;
}

nav a:hover {
    color: #fff
}

@media (min-width: 768px) {
    nav ul {
        flex-direction: row;
	justify-content: end;
	gap: 20px;
    }
}
