body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;    
}

ul {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background: black;
    color: white;
    align-items: center;
}

li {
    line-height: 1.5;
    list-style-type: none;
}

@media (min-width: 768px) {
    ul {
        flex-direction: row;
	justify-content: end;
	gap: 20px;
    }
}
