table, td, th {
    border-collapse: collapse;
    border: 1px solid #c4dcf3;
    border-left: 0;
    border-right: 0;
}

tbody tr:nth-child(odd) {
    background: #eef7ff;
}

th, tfoot tr {
    background: #427fef;
    color: white;
}

th, td {
    padding: 10px;
}

tfoot {
    text-align: left;
}
