.btn {
    padding: 8px 12px;
    border-radius: 4px;
    border: 0;
}

.btn-primary {
    background-color: #0d6efd;
    color: white;
}

.btn-danger {
    background-color: #db3543;
    color: white;
}
